@media (max-width:480px) {
    .bg_image {
        padding-inline: 20px;
    }

    .main_tag {
        padding-block: 16px;
    }

    /* section1  */

    .form_section {
        row-gap: 40px;
    }

    .input_section {
        flex-direction: column;
        row-gap: 36px;
    }

    .textarea_section {
        margin-block: 36px;
    }

    /* section2 */
    .button_section {
        column-gap: 42px;
    }

    .map_link {
        height: 200px;
    }
}

@media(max-width:376px) {
    .bg_image {
        padding-inline: 8px
    }

    .main_tag {
        padding-inline: 8px;
        row-gap: 48px;
    }

    /* section1 */

    .form_section {
        row-gap: 24px;
    }

    .contact_us {
        font-size: 24px;
        line-height: 32px;
    }

    .input_section {
        row-gap: 24px;
    }

    .textarea_section {
        margin-block: 24px;
    }
}